.App,h1 {
  text-align: center;

  color:white;
  
}
body
{
  background-color: rgb(36, 35, 35);
}
h1
{
  color: rgba(240, 3, 248, 0.747);
  text-shadow: 2px 2px 2px #ffffff;
  background-image: url("images/stars_in_the_sky_twitter_background.jpg");
  background-size:  100% auto;
  background-repeat: no-repeat;
  margin-left: 200px;
  margin-right: 200px;
  padding: 8px;
  border-radius: 25px;
}

hr
{
  width: 90%;
  opacity: 0.5;
}
h5
{
  
}





